<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{speaker?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="speaker-detail">
  <div text-center *ngIf="speaker">
    <img [src]="speaker.profilePic" [alt]="speaker.name">
    <br>

    <ion-button fill="clear" size="small" color="twitter" (click)="goToSpeakerTwitter(speaker)">
      <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" color="github">
      <ion-icon name="logo-github" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" color="instagram">
      <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <p>{{speaker?.about}}</p>
</ion-content>
