.scroll {
  background: #ededed;
}

.speaker-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.speaker-card ion-card-header {
  padding: 0;
}

.speaker-card ion-card-header .item {

}

.speaker-card ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}
