<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Livestream</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <iframe
    src="https://player.twitch.tv/?channel=hgwhofweier&muted=true"
    height="50%"
    width="100%"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true">
  </iframe>

  <a href="https://twitch.tv/hgwhofweier/"> watch in Browser/App</a>
</ion-content>
