<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Über Uns</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="assets/img/logo.png" alt="hgw logo">
  </div>
  <div padding class="about-info">
    <h4 text-center>HGW Hofweier</h4>

    <p text-center>
      Die HGW Hofweier App wurde durch Jannis Jehle entwickelt. Das Grundgerüst stammt von dem Ionic Team.<br>
      Die App beinhaltet einen Spielplan, eine Teamübersicht, eine Wegbeschreibung zur Halle und vielem mehr.<br>
      <br>
      Geplante Features: <br>
      - Livestream einbindung<br>
      - Shop

    </p>
  </div>
</ion-content>
