<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{session?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding *ngIf="session">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="6">
          <span *ngFor="let track of session?.tracks" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>
        </ion-col>
        <ion-col size="6" text-right [ngClass]="{'show-favorite': isFavorite}">
          <ion-icon name="heart-empty" size="large" class="icon-heart-empty" (click)="toggleFavorite()"></ion-icon>
          <ion-icon name="heart" color="danger" size="large" class="icon-heart" (click)="toggleFavorite()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h1 text-center>{{session.name}}</h1>
    <p>{{session.description}}</p>
    <ion-text text-center>
      <p><strong text-center>{{session.ergebniss}}</strong></p>
      <br/> Austragungsort: {{session.location}}
    </ion-text>
  </div>

  <ion-list>
    <ion-item (click)="sessionClick('https://twitch.tv/hgwhofweier')" button>
      <ion-label color="primary">Livestream</ion-label>
    </ion-item>
    <ion-item (click)="sessionClick('add to calendar')" button>
      <ion-label color="primary">Add to Calendar (Soon)</ion-label>
    </ion-item>
    <ion-item (click)="sessionClick('session.download')" button>
      <ion-label color="primary">Download Video (Soon)</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="cloud-download"></ion-icon>
    </ion-item>
    <ion-item (click)="sessionClick('leave feedback')" button>
      <ion-label color="primary">Leave Feedback (Soon)</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
