element.style {
    --offset-top: 82px;
    --offset-bottom: 0px;
}


.hydrated {
    visibility: inherit;
}

ion-action-sheet, ion-action-sheet-controller, ion-alert, ion-alert-controller, ion-anchor, ion-app, ion-avatar, ion-back-button, ion-backdrop, ion-badge, ion-button, ion-buttons, ion-card, ion-card-content, ion-card-header, ion-card-subtitle, ion-card-title, ion-checkbox, ion-chip, ion-col, ion-content, ion-datetime, ion-fab, ion-fab-button, ion-fab-list, ion-footer, ion-grid, ion-header, ion-icon, ion-img, ion-infinite-scroll, ion-infinite-scroll-content, ion-input, ion-item, ion-item-divider, ion-item-group, ion-item-option, ion-item-options, ion-item-sliding, ion-label, ion-list, ion-list-header, ion-loading, ion-loading-controller, ion-menu, ion-menu-button, ion-menu-controller, ion-menu-toggle, ion-modal, ion-modal-controller, ion-nav, ion-nav-pop, ion-nav-push, ion-nav-set-root, ion-note, ion-picker, ion-picker-column, ion-picker-controller, ion-popover, ion-popover-controller, ion-progress-bar, ion-radio, ion-radio-group, ion-range, ion-refresher, ion-refresher-content, ion-reorder, ion-reorder-group, ion-ripple-effect, ion-route, ion-route-redirect, ion-router, ion-router-outlet, ion-row, ion-searchbar, ion-segment, ion-segment-button, ion-select, ion-select-option, ion-select-popover, ion-skeleton-text, ion-slide, ion-slides, ion-spinner, ion-split-pane, ion-tab, ion-tab-bar, ion-tab-button, ion-tabs, ion-text, ion-textarea, ion-thumbnail, ion-title, ion-toast, ion-toast-controller, ion-toggle, ion-toolbar, ion-virtual-scroll {
    visibility: hidden;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

:host {
    --background: var(--ion-background-color,#fff);
    --color: var(--ion-text-color,#000);
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --keyboard-offset: 0px;
    --offset-top: 0px;
    --offset-bottom: 0px;
    --overflow: auto;
    display: block;
    position: relative;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    height: 100%;
    margin: 0!important;
    padding: 0!important;
    font-family: var(--ion-font-family,inherit);
    contain: size style;
}

.hydrated {
    visibility: inherit;
}

ion-action-sheet, ion-action-sheet-controller, ion-alert, ion-alert-controller, ion-anchor, ion-app, ion-avatar, ion-back-button, ion-backdrop, ion-badge, ion-button, ion-buttons, ion-card, ion-card-content, ion-card-header, ion-card-subtitle, ion-card-title, ion-checkbox, ion-chip, ion-col, ion-content, ion-datetime, ion-fab, ion-fab-button, ion-fab-list, ion-footer, ion-grid, ion-header, ion-icon, ion-img, ion-infinite-scroll, ion-infinite-scroll-content, ion-input, ion-item, ion-item-divider, ion-item-group, ion-item-option, ion-item-options, ion-item-sliding, ion-label, ion-list, ion-list-header, ion-loading, ion-loading-controller, ion-menu, ion-menu-button, ion-menu-controller, ion-menu-toggle, ion-modal, ion-modal-controller, ion-nav, ion-nav-pop, ion-nav-push, ion-nav-set-root, ion-note, ion-picker, ion-picker-column, ion-picker-controller, ion-popover, ion-popover-controller, ion-progress-bar, ion-radio, ion-radio-group, ion-range, ion-refresher, ion-refresher-content, ion-reorder, ion-reorder-group, ion-ripple-effect, ion-route, ion-route-redirect, ion-router, ion-router-outlet, ion-row, ion-searchbar, ion-segment, ion-segment-button, ion-select, ion-select-option, ion-select-popover, ion-skeleton-text, ion-slide, ion-slides, ion-spinner, ion-split-pane, ion-tab, ion-tab-bar, ion-tab-button, ion-tabs, ion-text, ion-textarea, ion-thumbnail, ion-title, ion-toast, ion-toast-controller, ion-toggle, ion-toolbar, ion-virtual-scroll {
    visibility: hidden;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
body {
    background: var(--ion-background-color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    touch-action: manipulation;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
    word-wrap: break-word;
    overscroll-behavior-y: none;
    text-size-adjust: none;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
html.ios {
    --ion-default-font: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Roboto",sans-serif;
}
:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
html {
    --ion-font-family: var(--ion-default-font);
    width: 100%;
    height: 100%;
    text-size-adjust: 100%;
    font-family: var(--ion-font-family);
}
html {
    --ion-safe-area-top: env(safe-area-inset-top);
    --ion-safe-area-bottom: env(safe-area-inset-bottom);
    --ion-safe-area-left: env(safe-area-inset-left);
    --ion-safe-area-right: env(safe-area-inset-right);
}
html {
    --ion-safe-area-top: var(--ion-statusbar-padding);
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}