<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="" class="hydrated" style="--offset-top:82px; --offset-bottom:0px;">
      <ion-card (click)="loadPost(post)" *ngFor="let post of posts$ | async" class="sc-ion-card-ios-h sc-ion-card-ios-s hydrated">
        <div *ngIf="post.featured_image">
			<img [src]="post.featured_image">
		</div>
        <ion-card-header class="hydrated">
          <!--<ion-card-subtitle role="heading" aria-level="3" class="hydrated"><small>By {{post._embedded.author[0].name}}</small> </ion-card-subtitle>-->
          <ion-card-title text-center role="heading" aria-level="2" class="hydrated" [innerHTML]="post.title.rendered">Card Title</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content card-content-ios hydrated">
          <div [innerHTML]="post.excerpt.rendered"></div>
        </ion-card-content>
      </ion-card>
    </ion-content>
