<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/PostPage"></ion-back-button>
    </ion-buttons>
    <ion-title>
      News Details
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div *ngIf="post$ | async as post">
    <h1 text-center [innerHTML]="post.title.rendered"> </h1>
    <!--<p no-margin> <small> By {{post._embedded.author[0].name}} </small> </p>-->
    <div text-center padding *ngIf="post.featured_image">
      <img class="featured_image" [src]="post.featured_image" alt="Featured Image">
    </div>
    <div text-center [innerHTML]="post.content.rendered"></div>
  </div>
</ion-content>
